USE [master]
GO
/****** Object:  Database [SMARKETS_AVALIACAO_DB]    Script Date: 2020-10-02 4:09:56 PM ******/
CREATE DATABASE [SMARKETS_AVALIACAO_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMARKETS_AVALIACAO_DB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMARKETS_AVALIACAO_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMARKETS_AVALIACAO_DB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMARKETS_AVALIACAO_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMARKETS_AVALIACAO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMARKETS_AVALIACAO_DB]
GO
/****** Object:  Table [dbo].[TB_CONSULTA]    Script Date: 2020-10-02 4:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CONSULTA](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Paciente] [varchar](50) NULL,
	[DtInicioConsulta] [datetime] NULL,
	[DtFimConsulta] [datetime] NULL,
	[Observacao] [varchar](max) NULL,
 CONSTRAINT [PK_TB_CONSULTA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
